<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="icon" type="image/png" href="~/Imagens/Desenho Cachorro.png" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <div class="Logo">
                         <img src="~/Imagens/Logo PetVet.png" height="100">
                        </div>
                        <li class="nav-item">
                            <div class="Formatalink">
                            <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="Formatalink">
                            <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Serviços">Serviços</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="Formatalink">
                            <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Agendamento">Agendamento</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="Formatalink">
                            <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Lista">Lista</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PetVet</a>&nbsp;
            <span>Rua: Qualquer coisa - São Paulo - SP</span>&nbsp;
            <span>Contato: (11) 123123123123</span>&nbsp;
            <span>E-mail: clinicapetvet@veterinaria.com.br</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
