@{
    ViewData["Title"] = "Página inicial";
}

<h3>Bem-vindo(a) ao nosso site!</h3>
<img src="Imagens/veterinário-do-cão-e-gato-86385355.jpg" alt="Cão e gato" height="300">
<p>Aqui na PetVet você encontra os melhores serviços para o seu pet.</p>
<p>Com os melhores profissionais e os melhores preços. Agende seu serviço e venha nos conecer!</p>