@{
    ViewData["Title"]= "Serviços";
}

<h3>Nossos serviços:</h3>
<br>

<h5>Serviço 1</h5>
<li>Banho e tosa</li>
<li>R$10,00</li>
<br>

<h5>Serviço 2</h5>
<li>SPA</li>
<li>R$30,00</li>
<br>


<h5>Serviço 3</h5>
<li>Hotel</li>
<li>R$40,00</li>
<br>
