@{
    ViewData["Title"]= "Serviços";
}

<h3>Nossos serviços:</h3>

<li>Serviço 1</li>
<li>Banho e tosa</li>
<li>R$10,00</li>
<br>

<li>Serviço 2</li>
<li>SPA</li>
<li>R$30,00</li>
<br>

<li>Serviço 3</li>
<li>Hotel</li>
<li>R$40,00</li>
<br>